<form name="createForm" action="{{ path('insert_item') }}">
    <div class="itemContainer">
        Image: <input type="file" name="file" accept="image/*" class="form-control"><br>
        Title: <input type="text" name="title" value="" class="form-control"><br>
        Number: <input type="text" name="number" value="" class="form-control"><br>
        Price: <input type="text" name="price" value="" class="form-control"><br>
        Category: <select name="category" class="form-control">
            <option value="">please select</option>
            <option value="1">Cat 1</option>
            <option value="2">Cat 2</option>
        </select><br>
        Is new: <input type="checkbox" class="form-control" name="isnew" value="1">
    </div>
</form>